<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>
<body>
    <form action="/admin/add_employee" method="post">
        <input type="text" name="username" id="username">
        <input type="email" name="email" id="email">
        <input type="number" name="contact" id="contact">
        <input type="text" name="dept" id="dept">
        <input type="date" name="join_date" id="join_date">
        <input type="password" name="password" id="password">
        <input type="submit" value="submit">
    </form>
</body>
</html>